* {
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100vh;
  border-right: solid 1px black;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

li {
  list-style: none;
  margin-bottom: 4rem;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

.admin-content {
  padding: 2rem;
}
