<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback Site</title>
    <!-- <link rel="stylesheet" href="/form.css" /> -->
  </head>
  <body>
    <div class="container">
      <h1>Welcome to feedback site</h1>
      <form action="/register" class="register-form">
        <div class="inputs-container">
          <span>Are you a new user?</span>
          <div class="submit-container">
            <input type="submit" value="REGISTER" />
          </div>
        </div>
      </form>
      <form action="/login" class="register-form">
        <div class="inputs-container">
          <span>Do you have an account?</span>
          <div class="submit-container">
            <input type="submit" value="LOG IN" />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
