<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Form</title>
    <link rel="stylesheet" href="/register.css" />
  </head>
  <body>
    <%if(locals.isActive){ %>
    <div class="error-container active">
      <span class="error-text">
        <% if (message) { %> <%= message %> <% } %>
      </span>
    </div>
    <% }%>
    <form action="/register" method="POST" class="register-form">
      <span class="form-title">USER REGISTER</span>

      <div class="big-input-container">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="EMAIL"
          maxlength="100"
          required
        />
      </div>
      <div class="inputs-container">
        <div class="small-input-container">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="NAME"
            maxlength="45"
            required
          />
        </div>
        <div class="small-input-container">
          <input
            type="text"
            id="surname"
            name="surname"
            placeholder="SURNAME"
            maxlength="45"
            required
          />
        </div>
      </div>
      <div class="small-input-container">
        <input
          type="text"
          id="studNum"
          name="studNum"
          placeholder="STUDENT NUMBER"
          maxlength="5"
          required
        />
      </div>
      <div class="inputs-container">
        <div class="small-input-container">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="PASSWORD"
            required
          />
        </div>
        <div class="small-input-container">
          <input
            type="password"
            id="confirmPwd"
            name="confirmPwd"
            placeholder="CONFIRM PASSWORD"
            required
          />
        </div>
      </div>
      <div class="submit-container">
        <input
          type="submit"
          id="register-btn"
          name="register-btn"
          value="REGISTER"
        />
      </div>
      <span class="sub-link"
        >DO YOU ALREADY HAVE AN ACCOUNT?
        <span class="clickable-span" id="toLogin">LOGIN HERE!</span></span
      >
    </form>
    <div class="badjeej">
      <img src="badjeej-nobg.png" alt="" />
    </div>
    <script src="/js/register.js"></script>
  </body>
</html>
