* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  /* outline: solid orange 1.5px; */
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: rgb(255, 215, 0);
  background: -moz-linear-gradient(
    45deg,
    rgba(255, 215, 0, 1) 0%,
    rgba(246, 223, 158, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(255, 215, 0, 1) 0%,
    rgba(246, 223, 158, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(255, 215, 0, 1) 0%,
    rgba(246, 223, 158, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd700",endColorstr="#f6df9e",GradientType=1);
}

form {
  width: 500px;
  height: auto;
  border-radius: 30px;
  box-shadow: -10px 10px 27px 1px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  row-gap: 35px;
}

.big-input-container {
  width: 100%;
  box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.25);
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.inputs-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.small-input-container {
  width: 48%;
  height: 40px;
  box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

input {
  border: 0;
  color: black;
  width: 100%;
  height: 100%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: none;
  background-color: none;
}

input span.form-title {
  align-self: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.submit-container {
  width: 100px;
  border-radius: 10px;
  box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.25);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: end;
}
.submit-container input:hover {
  background: rgb(255, 215, 0);
  background: -moz-linear-gradient(
    45deg,
    rgba(255, 215, 0, 1) 0%,
    rgba(246, 223, 158, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(255, 215, 0, 1) 0%,
    rgba(246, 223, 158, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(255, 215, 0, 1) 0%,
    rgba(246, 223, 158, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd700",endColorstr="#f6df9e",GradientType=1);
}

input#register-btn {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

span.sub-link {
  align-self: end;
  font-size: 0.8rem;
}

input::placeholder {
  color: black;
  display: flex;
  justify-content: cente;
  align-content: center;
}

span.clickable-span {
  font-weight: 600;
  cursor: pointer;
}

span.clickable-span:hover {
  text-decoration: underline;
}

.container {
  width: auto;
  height: auto;
  border-radius: 30px;
  box-shadow: -10px 10px 27px 1px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  gap: 3rem;
  padding: 3rem;
}
.container-title {
  align-self: center;
}

.alert {
  align-self: center;
  font-weight: bold;
  text-decoration: underline;
  font-size: large;
  color: red;
}
