* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  /* outline: solid orange 1.5px; */
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: rgb(255, 215, 0);
  background: -moz-linear-gradient(
    45deg,
    rgba(255, 215, 0, 1) 0%,
    rgba(246, 223, 158, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(255, 215, 0, 1) 0%,
    rgba(246, 223, 158, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(255, 215, 0, 1) 0%,
    rgba(246, 223, 158, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd700",endColorstr="#f6df9e",GradientType=1);
}

.logout-container {
  position: absolute;
  top: 20px;
  right: 20px;
  width: fit-content;
  height: 32px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

span.logout-text {
  font-size: 1.3rem;
  font-weight: 600;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 500px;
  height: auto;
  border-radius: 30px;
  box-shadow: -10px 10px 27px 1px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  row-gap: 35px;
}

.big-input-container {
  width: 100%;
  box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.25);
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.inputs-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.small-input-container {
  width: 48%;
  height: 40px;
  box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.small-input-container select {
  border: none;
  outline: none;
}

input {
  cursor: pointer;
  border: 0;
  color: black;
  width: 100%;
  height: 100%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: none;
}

span.form-title {
  align-self: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.submit-container {
  width: 100px;
  border-radius: 10px;
  box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.25);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: end;
}

input#register-btn {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

span.sub-link {
  align-self: end;
  font-size: 0.8rem;
}

input::placeholder {
  color: black;
  display: flex;
  justify-content: cente;
  align-content: center;
}

span.clickable-span {
  font-weight: 600;
}

.star-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.star {
  width: 48%;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.text-box {
  width: 100%;
  box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.25);
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

textarea {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  outline: 0;
  background: none;
}
.none {
  fill: #f4c542; /* Colore selezionato */
}

svg {
  fill: rgb(0, 0, 0);
  scale: 130%;
  margin: 6px;
  cursor: pointer;
  transition: fill 0.2s; /* Effetto di transizione quando il colore cambia */
}

.star svg.selected {
  fill: #f4c542; /* Colore per le stelle selezionate */
}

#popup {
  display: none;
  position: fixed;
  height: 7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
}

.pop {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Sfondo semitrasparente */
  z-index: 500; /* Assicurati che copra tutti gli altri elementi */
}

#continua {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#exit {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
